/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --blackpure: #000000;
  --black: #171718;
  --black-border: #26292D;
  --white: #fff;
  --purple:#5C62EC;
  --grey: #2a2a2a;
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  --text-color: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);
  --project-cart-text: var(--black);
  --page-bg: var(--white);
  --text-color: var(--black);
}

.dark {
  --box-shadow: 0px 5px 35px rgba(86, 86, 86, 0.25);
  --page-bg: #252526;
  --text-color:var(--white);
  --accent: #9699f8;
  --project-card-bg: var(--grey);
  --project-cart-text: var(--white);
}

body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  color: var(--text-color);
  background-color: var(--page-bg);
  height: 100vh;
}

.nav {
  padding: 20px 0;
  background-color: var(--dark-bg);
  color: var(--header-text);
  border-bottom: 1px solid var(--dark-border);
  letter-spacing: normal;
}

.nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  color: var(--header-text);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 100%;
  margin-right: auto;
}
.logo strong {
  font-weight: 700;
}

.nav-list {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.nav-list__link {
  color: var(--header-text);
  position: relative;
  -webkit-transition: opacity 0.2ms ease-in;
  transition: opacity 0.2ms ease-in;
}
.nav-list__link:hover {
  opacity: 0.8;
}

.nav-list__link--active::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
  top: 100%;
}

.header {
  background-image: url("./../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-color: var(--dark-bg);
  color: var(--header-text);
  min-height: 695px;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__wrapper {
  padding: 0 15px;
  max-width: 660px;
}

.header__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}
.header__title strong {
  font-style: normal;
  font-size: 60px;
  line-height: 1.4;
}
.header__title em {
  font-style: normal;
  color: var(--accent);
  text-decoration: none;
}

.header__text {
  margin-bottom: 40px;
  font-style: 18px;
  line-height: 1.33;
}
.header__text p + p {
  margin-top: 1em;
}

.btn {
  display: inline-block;
  color: var(--header-text);
  height: 48px;
  padding: 12px 28px;
  background-color: var(--accent);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15px;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  position: relative;
  top: 1px;
}

.section {
  padding: 70px 0;
}

.ttile-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--accent);
  text-align: center;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
}
.project {
  max-width: 370px;
  background: var(--project-card-bg);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.project:hover {
  -webkit-animation: shake 0.4s;
          animation: shake 0.4s;
}

.project__img {
  border-radius: 10px;
}

.project__title {
  font-size: 24px;
  padding: 15px 0 25px 15px;
  font-weight: 700;
  color: var(--project-cart-text);
}

.project-details__ttile-1 {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--accent);
  text-align: center;
}

.project-details {
  max-width: 865px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(var(--box-shadow));
          filter: drop-shadow(var(--box-shadow));
  -webkit-animation: top 1s ease-in-out;
          animation: top 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes top {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes top {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.project-details__desc {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: var(--text-color);
  margin-bottom: 30px;
}

.btn-outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 20px 12px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--blackpure);
  color: var(--blackpure);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  background-color: var(--white);
}
.btn-outline:hover {
  opacity: 0.6;
}
.btn-outline:active {
  position: relative;
  top: 1px;
}

.footer {
  padding: 60px 0 50px 0;
  background-color: var(--dark-bg);
  color: var(--header-text);
  margin-top: auto;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  row-gap: 27px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.5px;
}
.copyright p + p {
  margin-top: 0.5em;
}

.content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  padding: 0 15px;
  margin: 0 auto;
}

.content-list__item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: var(--text-color);
}
.content-list__item p + p {
  margin-top: 0.5em;
}

.skills-ttile {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.dark-mode-btn {
  height: 26px;
  width: 51px;
  border-radius: 50px;
  background-color: #272727;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.dark-mode-btn::before {
  position: absolute;
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  top: 1px;
  left: 1px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
}

.dark-mode-btn__item {
  position: relative;
  z-index: 9;
}

.dark-mode-btn--active::before {
  left: 26px;
}